body {
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(169, 79, 253);
}

a:visited {
    color: rgb(168, 79, 251);
}

a:hover {
    color: #000000;
}

a:active {
    background: #000000;
    color: #ffffff;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-top: 3rem;
}

ul li a {
    display: block;
    text-indent: -9999999px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

#github {
    background-image: url(https://cdn.worldvectorlogo.com/logos/github-icon.svg);
}

#linkedin {
    background-image: url(https://cdn.worldvectorlogo.com/logos/linkedin-icon.svg);
}

#twitter {
    background-image: url(https://cdn.worldvectorlogo.com/logos/twitter-4.svg);
}